Repository javier-pg/dark-web-architecture: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_kafka, deploy_minio, deploy_crawlab, deploy_torproxy

.gitlab-ci.yml:

stages:
- build
- deploy
- test

image:
  name: bitnami/kubectl:latest
  entrypoint: ['']

variables:
  DOCKER_HOST: tcp://docker:2376
  DOCKER_TLS_CERTDIR: "/certs"
  DOCKER_TLS_VERIFY: 1
  DOCKER_CERT_PATH: "$DOCKER_TLS_CERTDIR/client"
  DOCKER_REGISTRY: 10.10.10.106:5000
  KAFKA_IMAGE_NAME: breacher/kafka
  KAFKA_IMAGE_TAG: v2.0

services:
    - name: docker:20.10.10-dind
      entrypoint: ["dockerd-entrypoint.sh"]
      command: ["--insecure-registry", "10.10.10.106:5000"]

build_kafka:
  stage: build
  image: docker:20.10.10
  before_script:
    - sleep 5s
    - docker info
  script:
    - cd applications/kafka
    - docker build -t $KAFKA_IMAGE_NAME:$KAFKA_IMAGE_TAG .
    - docker tag $KAFKA_IMAGE_NAME:$KAFKA_IMAGE_TAG $DOCKER_REGISTRY/$KAFKA_IMAGE_NAME:$KAFKA_IMAGE_TAG
    - docker push $DOCKER_REGISTRY/$KAFKA_IMAGE_NAME:$KAFKA_IMAGE_TAG
  only:
    changes:
      - applications/kafka/Dockerfile

deploy_minio:
  stage: deploy
  script:
    - cd applications/minio
    - kubectl apply -f namespace.yaml
    - kubectl delete secret minio-credentials --ignore-not-found -n minio
    - kubectl create secret generic minio-credentials --from-literal=MINIO_ROOT_USER=$MINIO_ROOT_USER --from-literal=MINIO_ROOT_PASSWORD=$MINIO_ROOT_PASSWORD -n minio # define in Gitlab ENV
    - kubectl apply -f deployment.yaml
    - kubectl apply -f service.yaml
  only:
    changes:
      - applications/minio/*

deploy_crawlab:
  stage: deploy
  script:
    - cd applications/crawlab
    - kubectl apply -f namespace.yaml
    - kubectl apply -f mongo-statefulset.yaml
    - kubectl apply -f mongo-service.yaml
    - kubectl apply -f redis-deployment.yaml
    - kubectl apply -f redis-service.yaml
    - kubectl apply -f crawlab-deployment.yaml
    - kubectl apply -f crawlab-service.yaml
  only:
    changes:
      - applications/crawlab/*

deploy_torproxy:
  stage: deploy
  script:
    - cd applications/torproxy
    - kubectl apply -f namespace.yaml
    - kubectl apply -f deployment.yaml
    - kubectl apply -f service.yaml
  only:
    changes:
      - applications/torproxy/*

deploy_kafka:
  stage: deploy
  image:
    name: dtzar/helm-kubectl:latest
    entrypoint: ['']
  variables:
    KAFKA_TOPIC_PARTITIONS: 10
    KAFKA_IMAGE: "$DOCKER_REGISTRY/$KAFKA_IMAGE_NAME:$KAFKA_IMAGE_TAG"
  script:
    - cd applications/kafka
    - kubectl apply -f namespace.yaml
    - sed -i 's/KAFKA_IMAGE/'"$KAFKA_IMAGE"'/' values.yaml
    - sed -i 's/NUM_PARTITIONS/'"$KAFKA_TOPIC_PARTITIONS"'/' values.yaml
    - helm install kafka bitnami/kafka -f values.yaml --version 14.9.3 -n kafka
    - kubectl exec -n kafka kafka-0 -- kafka-topics.sh --alter --bootstrap-server localhost:9092 --topic crawlab_test.results_onions_farmer --partitions $KAFKA_TOPIC_PARTITIONS
  #only:
  #  changes:
  #    - application/kafka/*

deploy_oniondownloader:
  stage: deploy
  script:
    - echo "deploy_oniondownloader"

Kafka CI/CD
  .gitlab-ci.yml
Due: none

Kafka CI/CD
  .gitlab-ci.yml
  applications/kafka/values.yaml
Due: none

Kafka CI/CD
  .gitlab-ci.yml
  applications/oniondownloader/deploy.sh
Due: none

CI/CD oniondownloader
  .gitlab-ci.yml
  applications/kafka/deploy.sh
  applications/local.env.example
  applications/minio/forward.sh
  applications/oniondownloader/delete.sh
  applications/oniondownloader/deploy.sh
  applications/oniondownloader/deployment.yaml
  applications/oniondownloader/downloader.py
  applications/oniondownloader/namespace.yaml
  applications/oniondownloader/oniondownloader.yaml
Due: deploy_minio

Bug fixed in oniondownloader
  .gitlab-ci.yml
  applications/oniondownloader/downloader.py
Due: none

Bug fixed in oniondownloader
  applications/oniondownloader/Dockerfile
  applications/oniondownloader/deployment.yaml
Due: none

Downloader fixed
  applications/oniondownloader/downloader.py
Due: none

Oniondownloader
  applications/oniondownloader/downloader.py
Due: none

Bug in oniondownloader
  applications/crawlab/crawlab-deployment.yaml
  applications/kafka/ui.sh
  applications/oniondownloader/downloader.py
Due: deploy_crawlab

Add utf-8 encoding
  applications/oniondownloader/downloader.py
Due: none

Add new data sources in Crawlab
  .gitlab-ci.yml
  applications/crawlab/onions_farmer/onions_farmer/settings.py
  applications/crawlab/onions_farmer/onions_farmer/spiders/onions.py
  applications/kafka/deploy.sh
  applications/kafka/kafka.yaml
  applications/kafka/values.yaml
  applications/minio/deployment.yaml
  applications/torproxy/deployment.yaml
  applications/torproxy/service.yaml
Due: deploy_minio, deploy_torproxy

Tor proxies scaled
  applications/torproxy/deployment.yaml
  applications/torproxy/service.yaml
Due: deploy_torproxy
